body {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
    /* background: linear-gradient(to bottom right, #3399ff 0%, #ff66ff 100%);
    background-size: cover; */
    background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
    backdrop-filter: blur(10px);
    outline: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    height: 100vh;
    /* width: 100vw; */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
}

.search-box {
    padding: 16px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(to left, #33ccff 0%, #cc99ff 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    outline: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.search-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
}

.search-button-container {
    display: flex;
    align-items: center;
    background-color: none;
    border: none;
    border-radius: 46px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    outline: none;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.search-button-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 16px;
    border-radius: 48px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    position: relative;
    height: 32px;
    width: 100%;
    max-width: 180px;
}

.search-button img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
}
.search-button:hover {
    background: linear-gradient(to right, #33ccff 0%, #cc99ff 100%);
}

@keyframes gradient-bg {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
@media (min-width: 768px) {
    .search-button-container {
        justify-content: space-evenly;
    }
}
